

input {
    font-size: 26px;
    height: 30px;
    border: 2px solid;
}

button {
    margin-top: 5%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;
}
   
  p {
    padding-left: 2%;
    font-size: 28px;
    background-color: rgb(149, 10, 10);
  }